
# Fichiers générés par des outils d'édition
.vscode/*


# Environnement virtuel
myenv/*

src/authentication/__pycache__/*
src/authentication/migrations/*


src/apartments/__pycache__/*
src/apartments/migrations/*

src/housing/__pycache__/*
src/housing/migrations/*

src/users/__pycache__/*
src/users/migrations/*

src/db.sqlite3









