# Environnement virtuel
venv/
env/

# Fichiers de configuration spécifiques à l'environnement
*.env

# Fichiers générés par Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers générés par Django
db.sqlite3

# Fichiers de logs
*.log

# Fichiers générés par des outils d'édition
.vscode/
.idea/

# Fichiers spécifiques à l'éditeur
*.sublime-project
*.sublime-workspace
